<div class="jumbo" align="center">
  <p class="heading" align="left">
  <h1>About Our Church</h1>
  </p>

  <div class="layout-row layout-wrap" align="left">
    <div class="flex-40">
      <h2>Our Vision</h2>
      <p>
        Where by God’s grace, believers from all walks of life together WORSHIP Christ, GROW spiritually in Christ and SHARE Christ’s love with others!
      </p>
    </div>
    <div class="flex-20">
    </div>
    <div class="flex-40">
      <h2>Our Mission</h2>
      <p>
        Our mission statement can be summed up in one word: REACH.
      </p>

      <p>
        Reaching Up | Loving God:<br>
        Vertical reach to touch God. We reach up through worship.
      </p>
      <p>
        Reach In | Serving Each Other:<br>
        Horizontal reach to bless others.We serve God by serving each other.
      </p>
      <p>
        Reach Out | Changing The World:<br>
        Outward reach to can change the world. We have to be bold and courageous. Jesus commanded us to go into the entire world and present the good news.
      </p>
    </div>
  </div>

  <div align="left">
    <h2>Our Staff</h2>
    <div class="layout-row layout-wrap">
      <div class="flex">
        <div class="aboutGallery">
          <a target="_blank" href="{{constants.rootURL}}img/Fred_Simon.jpg">
            <img src="{{constants.rootURL}}img/Fred_Simon.jpg" alt="Fred Simon" width="500" height="300">
          </a>
          <div class="aboutName">Pastor Fred Simon</div>
          <div class="aboutTitle">Senior Pastor</div>
          <div class="aboutGalleryDesc">
            <p>
              Before coming to Pilgrim in November 2007, Pastor Simon served a congregation in North Platte, Nebraska. He and his wife, Sue, have two daughters. Pastor Simon graduated from Concordia Seminary in St. Louis in 1984. He is also a graduate of the Pastoral Leadership Institute.
            </p>
          </div>
        </div>
        <div class="aboutGallery">
          <a target="_blank" href="{{constants.rootURL}}img/PastorNietfeld.jpg">
            <img src="{{constants.rootURL}}img/PastorNietfeld.jpg" alt="Dan Nietfeld" width="500" height="300">
          </a>
          <div class="aboutName">Pastor Dan Nietfeld</div>
          <div class="aboutTitle">Assistant Pastor</div>
          <div class="aboutGalleryDesc">
           <p>
            Pastor Dan and his wife Kathy are instrumental in helping to carry out the mission at Pilgrim. A former missionary to the Phillipines and a pastor for more than 30 years, Pastor Dan helps with worship, Bible studies, shut ins and more.
           </p>
          </div>
        </div>
        <div class="aboutGallery">
          <a target="_blank" href="{{constants.rootURL}}img/JenniferAnderson.jpg">
            <img src="{{constants.rootURL}}img/JenniferAnderson.jpg" alt="Jennifer Anderson" width="500" height="300">
          </a>
          <div class="aboutName">Jennifer Anderson</div>
          <div class="aboutTitle">Administrative Assistant</div>
          <div class="aboutGalleryDesc">
            <p>
            Jennifer is from North Platte, NE, she has been an active member of a Missouri Lutheran Church all her life.
            </p>
          </div>
        </div>
        <div class="aboutGallery">
          <a target="_blank" href="{{constants.rootURL}}img/SharonKazmierski.jpg">
            <img src="{{constants.rootURL}}img/SharonKazmierski.jpg" alt="Sharon Kazmierski" width="500" height="300">
          </a>
          <div class="aboutName">Sharon Kazmierski</div>
          <div class="aboutTitle">Music</div>
          <div class="aboutGalleryDesc">
            <p>
              Director at Pilgrim Lutheran Church.
            </p>
          </div>
        </div>
        <div class="aboutGallery">
          <a target="_blank" href="{{constants.rootURL}}img/JaneKemp.jpg">
            <img src="{{constants.rootURL}}img/JaneKemp.jpg" alt="Jane Kemp" width="500" height="300">
          </a>
          <div class="aboutName">Jane Kemp</div>
          <div class="aboutTitle">Childcare Center Director at Pilgrim</div>
          <div class="aboutGalleryDesc">
            <p>

            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div align="left">
    <h2>Church Council</h2>
    <p>
      The Council of Ministries is the new name of the lay governing board of the church. At Pilgrim, it was previously called the Church Council. The task of the Council of Ministries is several fold. First, they are to oversee the various ministries of the church, providing guidance, support and vision for the church. The Council of Ministries also oversees the church’s finances through the Treasurer. Each member of the Council is assigned to ask as a coordinator for various ministry teams. They are to encourage and support the ministries under their care and act as a liasion for them. They are the primary planning and vision setting body of the church.
    </p>
  </div>

  <div align="left">
    <h2>The Role of the Elders</h2>
    <p>
      What we commonly call “elders” today are laymen appointed to serve the congregation in its temporal affairs and to assist the pastor in administrative tasks. An example of this is found in Acts 6:1-6:
    </p>
    <p>
    In those days when the number of disciples was increasing, the Grecian Jews among them complained against the Hebraic Jews because their widows were being overlooked in the daily distribution of food. So the Twelve gathered all the disciples together and said, “It would not be right for us to neglect the ministry of the word of God in order to wait on tables. Brothers, choose seven men from among you who are known to be full of the Spirit and wisdom. We will turn this responsibility over to them and will give our attention to prayer and the ministry of the word.” This proposal pleased the whole group. They chose Stephen, a man full of faith and of the Holy Spirit; also Philip, Procorus, Nicanor, Timon, Parmenas, and Nicolas from Antioch, a convert to Judaism. They presented these men to the apostles, who prayed and laid their hands on them.
      </p>
      <p>
    Later such men came to be known as the “deacons” (meaning “servants”). As you can see, Scripture does not define the exact role of such deacons, only their qualifications (1 Timothy 3:8-13). Scripture gives them no special spiritual responsibilities in the congregation beyond those given to every Christian.
      </p>
      <p>
    While the office of pastor is divinely instituted and indispensable for the Church, the deacon is an optional office based on Apostolic and church custom.
      </p>
      <p>
    The deacon or elder is a position of lay-service, concerned with the temporal and administrative affair of the congregation. In many congregations deacons or elders are also charged with oversight of the pastor. But, rightly understood according to Scripture, they exercise only that oversight given to every Christian in the congregation.
      </p>
  </div>

</div>
