<div class="jumbo" align="center">
  <p class="heading" align="left">
  <h1><u>Our Staff</u></h1>
  </p>

  <div class="layout-row layout-wrap">
    <div class="flex-grow">
      <div class="aboutGallery">
        <a target="_blank" href="{{constants.rootURL}}img/Fred_Simon.jpg">
          <img src="{{constants.rootURL}}img/Fred_Simon.jpg" alt="Fred Simon" width="300" height="200">
        </a>
        <div class="aboutName">Pastor Fred Simon</div>
        <div class="aboutTitle">Senior Pastor</div>
        <div class="aboutGalleryDesc">Before coming to Pilgrim in November 2007, Pastor Simon served a congregation in North Platte, Nebraska. He and his wife, Sue, have two daughters. Pastor Simon graduated from Concordia Seminary in St. Louis in 1984. He is also a graduate of the Pastoral Leadership Institute.</div>
      </div>
      <div class="aboutGallery">
        <a target="_blank" href="{{constants.rootURL}}img/PastorNietfeld.jpg">
          <img src="{{constants.rootURL}}img/PastorNietfeld.jpg" alt="Dan Nietfeld" width="300" height="200">
        </a>
        <div class="aboutName">Pastor Dan Nietfeld</div>
        <div class="aboutTitle">Assistant Pastor</div>
        <div class="aboutGalleryDesc">Pastor Dan and his wife Kathy are instrumental in helping to carry out the mission at Pilgrim. A former missionary to the Phillipines and a pastor for more than 30 years, Pastor Dan helps with worship, Bible studies, shut ins and more.</div>
      </div>
      <div class="aboutGallery">
        <a target="_blank" href="{{constants.rootURL}}img/JenniferAnderson.jpg">
          <img src="{{constants.rootURL}}img/JenniferAnderson.jpg" alt="Jennifer Anderson" width="300" height="200">
        </a>
        <div class="aboutName">Jennifer Anderson</div>
        <div class="aboutTitle">Administrative Assistant</div>
        <div class="aboutGalleryDesc">Jennifer is from North Platte, NE, she has been an active member of a Missouri Lutheran Church all her life.</div>
      </div>
    </div>
  </div>

</div>
