<div class="container-main">
  <div class="layout-row layout-wrap">
    <div class="flex-grow" style="background-color:#55aaaa;">
      <h1> <a target="_blank" href="{{constants.rootURL}}img/logo.png">
        <img src="{{constants.rootURL}}img/logo.png" width="100" height="50">
      </a>
        Pilgrim Lutheran Church</h1>
    </div>
  </div>
  <div class="navbar">
    {{nav-bar}}
  </div>
  <div class="body">
    {{liquid-outlet "main"}}
	</div>
  <div class="footer" bgcolor="#000000">
    <div class="flex">
      <div class="flex layout-row layout-md-row box-three" style="vertical-align: middle;">
        <div class="flex-33 flex-md-10 box-two-one">{{facebook-feed}}</div>
        <div class="flex-33 flex-md-25 box-two-two" >
          List of bulletins somehow
        </div>
        <div class="flex-33 flex-md-65 box-two-three">Map Here</div>
      </div>
    </div>
    <div class="layout-row">
      <div class="flex">© 2016 - Pilgrim Lutheran Church</div>
    </div>
  </div>

</div>
