<div class="jumbo" align="center">
  <p class="heading" align="center">
    <a target="_blank" href="{{constants.rootURL}}img/KidsLogo.png">
      <img src="{{constants.rootURL}}img/KidsLogo.png" width="300" height="200">
    </a>
  </p>
  <div class="layout-row layout-wrap">
    <div class="flex-20">
      <a target="_blank" href="{{constants.rootURL}}img/kids-church.jpg">
        <img src="{{constants.rootURL}}img/kids-church.jpg" width="300" height="200">
      </a>
    </div>
    <div class="flex-60">
      <div>
        <h2>KID'S CHURCH</h2>
        <p>
        Kids Church is for the younger children during the 10:30 am worship service. Children will meet in the youth room and then go to the worship service to participate in “Small Talk” given by the Pastor at the beginning of the worship service. The kids then go to the youth room to participate in activities and songs that praise the Lord. The doors to Kids Church open around 10:20 am on Sunday mornings. The youth room is located on the far west side of the church complex.
        </p>
      </div>
    </div>
  </div>
  <div class="layout-row layout-wrap">
    <div class="flex-60">
      <div>
        <p><h2>SUNDAY SCHOOL</h2></p>
        <p>
        Pilgrim’s Sunday School program is a wonderful opportunity for your children, whether they are 2 years old or 18 years old, to experience the love of Christ through the studying of His Word.  Pilgrim is blessed with a great staff of Sunday School teachers that are passionate and creative in inspiring your children to draw closer to God. The Sunday School classrooms are divided up by grades and Pilgrim utilizes more than a dozen classrooms to accomodate all of the children that attend. Pilgrim’s Sunday School curriculum challenges children to understand that Jesus is their Lord and Savior through fun activities, songs and Bible stories.
        </p>
        <br>
        <p>
        Sunday School classes start at <b>9:15 on Sunday mornings</b> and run until approximately 10:15. Please feel free to drop in sometime! Each year Pilgrim also has a wonderful Children’s Christmas Program.
        </p>
      </div>
    </div>
    <div class="flex-20">

      <a target="_blank" href="{{constants.rootURL}}img/sundaySchool.jpg">
        <img src="{{constants.rootURL}}img/sundaySchool.jpg" width="300" height="200">
      </a>
    </div>
  </div>
</div>
