<div class="jumbo" align="center">
  <p class="heading" align="center">
    <h1>Youth</h1>
  </p>


  <div class="layout-row layout-wrap">
    <div class="flex-grow">
      <p>
      Pilgrim is all about families. It’s about relationships with each other and with Christ. It’s also about providing love, guidance and support to our children and letting them know that Jesus Christ will be with them always. Pilgrim loves kids! In 1998, Pilgrim built a new 11 acre campus in Bellevue. The building design specifically has children in mind. Our Childcare Center has more than 150 children in attendance. The classrooms at Pilgrim are specifically designed for kids. The outdoor playground, playing fields and indoor gymnasium are also designed for kids.
      </p>
      <p>
      We want your kids to join us as Pilgrim Kids! Take a look at the below at some of the exciting kids programs that are available at Pilgrim.
      </p>
    </div>
  </div>

  <div class="layout-row layout-wrap">
    <div class="flex-20">
      <a target="_blank" href="{{constants.rootURL}}img/SeniorYouth.jpg">
        <img src="{{constants.rootURL}}img/SeniorYouth.jpg" width="200" height="100">
      </a>
    </div>
    <div class="flex-60">
      <div>
        <p><h2>Senior Youth</h2></p>
        <p>
        On Sunday mornings, we meet at 9:15 am for a lively discussion on topics that directly affect you. Come join us!  Check out the rest of the site for other activities and events scheduled over the next few months.  God loves you and so do we!
        </p>
      </div>
    </div>
  </div>


  <div class="layout-row layout-wrap">
    <div class="flex-60">
      <div>
        <p><h2>Junior Youth</h2></p>
        <p>
        Junior Youth is a great way to meet new friends and to experience the love of Jesus Christ! We are an active group, getting together often to study His Word and to grow in our faith. We will add more information to this site soon. Check out our calendar for this month. We would love to see you in church and at some of these activities!
        </p>
      </div>
    </div>
    <div class="flex-20">

      <a target="_blank" href="{{constants.rootURL}}img/JuniorYouth.jpg">
        <img src="{{constants.rootURL}}img/JuniorYouth.jpg" width="200" height="100">
      </a>
    </div>
  </div>

  <div class="layout-row layout-wrap">
    <div class="flex-20">
      <a target="_blank" href="{{constants.rootURL}}img/Scouts.jpg">
        <img src="{{constants.rootURL}}img/Scouts.jpg" width="200" height="100">
      </a>
    </div>
    <div class="flex-60">
      <div>
        <p><h2>Scouts</h2></p>
        <p>
        The Boy Scouts currently meet on Monday evenings at 7 pm.  The troop dues are $10.00 per month (camping fees are based on each campout separately – food, etc).
        </p>
        <p>
        If you are new to the area and looking for a Scout troop, we would love to have you visit us.
        </p>
        <p>
        Visit the <a href="http://www.troop476.net/" target="_blank"> Boy Scout Troop #476</a> web sites for additional information.
        </p>
      </div>
    </div>
  </div>
</div>
