<div class="container">
  <div class="navbar">
    {{nav-bar}}
  </div>
  <div class="body">


    {{outlet}}


  </div>
  <div class="footer" bgcolor="#000000">
    <div class="flex">
      <div class="flex layout-row layout-md-row box-three" style="vertical-align: middle;">
        <div class="flex-33 flex-md-10 box-two-one">{{facebook-feed}}</div>
        <div class="flex-33 flex-md-25 box-two-two" >
          List of bulletins somehow
        </div>
        <div class="flex-33 flex-md-65 box-two-three">Map Here</div>
      </div>
    </div>
<!--
    <div class="layout-row">
      <div class="flex-33">{{facebook-feed}}</div>
      <div class="flex-33">{{bulletin-list}}</div>
      <div class="flex">flex</div>
    </div>-->
    <div class="layout-row">
      <div class="flex">© 2016 - Pilgrim Lutheran Church</div>
    </div>
  </div>
</div>
